
<div class="row"  ng-if="movieexist">


    <div class="col-sm-12">
        <span>Name: <strong> {{ name }}</strong></span><br>
        <span>Last Name:<strong> {{ last_name }}</strong></span><br>
        <span>Gender: <strong>{{ gender }}</strong></span><br>
        <span>Birthday:<strong>{{ birthday }}</strong></span>



    </div>
    <a href="#/actoredit/{{ ID }}" class="btn btn-warning">Edit Actor</a>
</div>

<div class="row"  ng-if="!movieexist">
    The Movie doesn't exist
</div>