
<div class="row">
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" ng-model="last_name">
        </div>
        <div class="form-group">
            <label for="birth">Birthday</label>
            <input type="text" class="form-control" id="birth" ng-model="birth">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>

            <select class="form-control" id="gender" ng-model="gender">
                <option value="Male">Male</option>
                <option value="Female">Females</option>

            </select>
        </div>

        <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click='saveActor()'>Save Actor</button>
        </div>
    </form>

</div>

