<div class="row">
            <div class="movie col-sm-3" ng-repeat="n in MovieList">
                <a href="#movie/{{ n.ID}}">
                <div>
                    <img ng-src="images/{{ n.picture || 'no-image.jpg'}}">
                    <span class="rating">{{ n.rating}}</span>
                </div>
                </a>
                <span><strong>{{ n.name |  uppercase }}</strong></span><br>
                <span>Release Year: {{ n.release_year |  uppercase }}</span>
                <hr><br>
            </div>
    </div>

