
<div class="row">
    <form role="form">
        <div class="form-group">
            <label for="name">Movie Name</label>
            <input type="text" class="form-control" id="name" ng-model="name">
        </div>
        <div class="form-group">
            <label for="release_year">Release Year</label>
            <input type="text" class="form-control" id="release_year" ng-model="release_year">
        </div>
        <div class="form-group">
            <label for="director_name">Director</label>
            <input type="text" class="form-control" id="director_name" ng-model="director_name">
        </div>
        <div class="form-group">
            <label for="picture">Picture</label>
            <input type="text" class="form-control" id="picture" ng-model="picture">
        </div>
        <div class="form-group">
            <label for="gross_income">Gross income</label>
            <input type="text" class="form-control" id="gross_income" ng-model="gross_income">
        </div>
        <div class="form-group">
            <label for="Genre">Genre</label>
        <select class="form-control" multiple ng-model="Genre">
            <option value="Horro">Horror</option>
            <option value="Action">Action</option>
            <option value="Adveture">Adveture</option>
            <option value="Comedy">Comedy</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Historical">Historical</option>
            <option value="Mistery">Mistery</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
            <option value="Romance">Romance</option>

        </select>
        </div>
        <div class="form-group">
            <label for="Actors">Actors</label>

        <!--<select multiple ng-options="item.ID as item.Title for item in items" ng-model="Actors">-->
            <select class="form-control" multiple ng-options="actor.name+' '+actor.last_name  for actor in Actors" ng-model="MovieActors">


        </select>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click='saveMovie()'>Save Movie</button>
        </div>
    </form>

</div>

