
<div class="row"  ng-if="movieexist">

    <div class="col-sm-4">


    <img ng-src="images/{{ picture || 'no-image.jpg' }}" width="100%">
        <div class="row info-buttons">
            <div class="col-sm-6">
        <a class="btn btn-danger" ng-click="delete(ID)">Delete Movie</a>
            </div>
                <div class="col-sm-6">
        <a class="btn btn-default" href="#/editmovie/{{ ID }}">Edit Movie</a>
                </div>
            </div>
</div>
    <div class="col-sm-8">
        <span>Name: <strong> {{ name }}</strong></span><br>
        <span>Release Year:<strong> {{ name }}</strong></span><br>
        <span>Director: <strong>{{ director_name }}</strong></span><br>
        <span>Genre:</span>
        <ul>
            <li ng-repeat="gen in Genre"><strong>{{ gen }}</strong></li>

        </ul>
        <span>Actors: </span>
        <ul>
            <li ng-repeat="actor in MovieActors"><a href="#/actor/{{ actor.ID }}"><strong>{{ actor.name+" "+actor.last_name }}</strong></a></li>

        </ul>


        <span>Rating: <strong>{{ rating }}</strong></span><br>
        </div>






</div>
    <div class="row"  ng-if="!movieexist">
            The Movie doesn't exist
        </div>

