<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Movies JS</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="styles/main.min.css" rel="stylesheet">
</head>

<body ng-controller="MainController">

<div class="container">
    <header class="row">
        <div class="col-sm-5">
            <a href="#/home"><h1>MOVIES APP</h1></a>
        </div>
        <div class="col-sm-7">
            <div class="input-group search-movie">
                <input type="text" class="form-control input-lg" placeholder="Search Movie" ng-model="search">
                  <span class="input-group-btn">
                    <button class="btn btn-lg btn-default" type="button" ng-click="searchBtn()">Go!</button>
                  </span>
            </div>
        </div>

    </header>
    <hr>
    <div class="row menu-header">
        <div class="col-sm-offset-8 col-sm-4 col-xs-12 add-container">
                <a href="#/create" class="btn btn-primary">Add New Movie</a>
            <a href="#/createActor" class="btn btn-primary">Add New Actor</a>
        </div>
    </div>
<div ng-view></div>



</div>

<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="vendors/localstoragedb/localstoragedb.min.js"></script>
<script src="vendors/angular/angular.min.js"></script>
<script src="vendors/angular-route/angular-route.min.js"></script>

<script src="js/app.min.js"></script>
<script src="js/controllers/controller.min.js"></script>
<script src="js/services/services.min.js"></script>
<!--<script src="assets/scripts/app.js"></script>-->
<!--<script src="assets/scripts/controllers/controller.js"></script>-->
<!--<script src="assets/scripts/services/services.js"></script>-->
</body>
</html>