body{
	a{
	  color: black;
	  &:hover{
		text-decoration: none;
		color: black;

	  }
	}
	font-size:13px;
	.movie{
	  img {
		text-align: center;
		width: 100%
	  }
		.rating{

		  background-color: #FF5E00;
		  padding: 10px;
		  position: absolute;
		  top: 10px;
		  right: 30px;
		  color: #fff;
		  font-size: 24px;
		  width: 50px;
		  text-align: center;
		}

	}
  .search-movie{

	padding-top: 15px;
  }
  hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px;
	border-top: 1px solid #A0A0A0;
  }
  .add-container{
	text-align: right;
  }
  .info-buttons{
	margin-top: 10px;
	text-align: center;
  }
  .menu-header{
	margin-bottom: 20px;
  }
}